body {
    margin: 0px;
    padding: 0px;
    background: url('riya1.webp');
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

.left {
    /*border: 2px solid red;*/
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
    font-family: 'Amiri', serif;


}

.right {
    /* border: 2px solid green;*/
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
    font-family: 'Amiri', serif;

}

.mid {
    /*border: 2px solid yellow;*/
    display: block;
    margin: auto;
    width: 39%;
    padding: 2px;
    margin-top: 20px;
    font-family: 'Amiri', serif;


}

.menu {
    display: inline-block;

}

.menu li {

    display: inline-block;
    font-size: 18px;
    font-family: 'Amiri', serif;



}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 10px;


}

.menu li a:hover,
.menu li a:active {
    background-color: slategrey;
    text-decoration: underline;

}

.left div {
    color: rgb(85, 81, 81);
    font-style: italic;
    font-weight: bold;
    text-align: center;

}


.left img {
    width: 80px;
    height: 50px;
    filter: invert(0%);
}

.button {
    padding: 5px 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 15%;
    color: white;
    margin: 0px 5px;
}

.button:hover {
    background-color: gray;
}

.container {
    border: solid 2px rgb(255, 255, 255);
    margin-top: 70px;
    margin-left: 17%;
    width: 30%;
    padding: 40px;
    color: white;
    border-radius: 20px;
    
}

.text input {
    text-align: center;
    background-color: black;
    border-color: blanchedalmond;
    margin: 4px;
    width: 60%;
    padding: 5px 10px 10px 5px;
    border:solid 1px white;
    border-radius: 10px;
    color: white;
}

button {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20%;
    padding: 5px;
    border-radius: 5px;
    width: 30%;
}

.container h1{
    margin-left: 13%;
}